[submodule "arethusa"]
	path = arethusa
	url = ../../alpheios-project/arethusa.git
	branch = widget
[submodule "arethusa-configs"]
	path = arethusa-configs
	url = ../../alpheios-project/arethusa-configs.git
